import numpy as np
import pandas as pd
import functools as ft

In [160]:
df= pd.read_csv("C:/Users/rajaa/OneDrive/Desktop/NYPD_Complaint_Data_Historic.csv")

C:\Users\rajaa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [161]:
toDrop= ['CMPLNT_NUM','CMPLNT_FR_DT','CMPLNT_FR_TM','CMPLNT_TO_DT','CMPLNT_TO_TM','KY_CD','PD_CD','PD_DESC','CRM_ATPT_CPTD_CD'
         ,'LAW_CAT_CD','ADDR_PCT_CD','LOC_OF_OCCUR_DESC','PREM_TYP_DESC','PARKS_NM','HADEVELOPT','X_COORD_CD','Y_COORD_CD','Latitude','Longitude','Lat_Lon']

In [162]:
df.drop(toDrop, inplace=True, axis= 1)

In [163]:
df['year']=df.RPT_DT.str.slice(-4)

In [164]:
df['RPT_DT']= df.RPT_DT.str.slice(0,2)

In [165]:
df['RPT_DT']=df.RPT_DT.str.replace("/","")

In [166]:
newType= {'RPT_DT': int, 'year': int}
df=df.astype(newType)

In [167]:
years= pd.unique(df['year'])
months= pd.unique(df['RPT_DT'])

In [118]:
years[2]

2013

In [168]:
df= df.rename(columns= {'RPT_DT': 'Month', 'year': 'Year', 'OFNS_DESC': 'Category'})

In [169]:
def getYearDataFrame(NoOfYears):
    yearList= list(np.arange(NoOfYears))
    for i in np.arange(NoOfYears):
        yearList[i]= yearDataFrame(years[i])
    return yearList


def yearDataFrame(yearNumber):
    yearTemp= df.loc[df['Year']==yearNumber]
    monthFrame= getMonthDataFrame(yearTemp,len(months),yearNumber)
    yearDf= ft.reduce(lambda left, right: pd.merge(left,right,on='Category',how='outer'),monthFrame)
    yearDf=yearDf.fillna(0)
    return yearDf

#df_final= ft.reduce(lambda left, right: pd.merge(left,right,on='Category',how='outer'),freqList)
def getMonthDataFrame(yearTem,noOfMonths,yearNum):
    monthList= list(np.arange(noOfMonths))
    for i in np.arange(noOfMonths):
        monthList[i]= monthDataFrame(yearTem,months[i],yearNum)
    return monthList

def monthDataFrame(yearTempo,monthNumber,yearNo):
    monthTemp= yearTempo.loc[df['Month']==monthNumber]
    monthlyTempDf= monthTemp['Category'].value_counts().rename_axis('Category').reset_index(name="Month-"+str(monthNumber)+"("+str(yearNo)+")")
    return monthlyTempDf    

final_list= getYearDataFrame(len(years))

In [136]:
final_list[0]

,Category,Month-12(2015),Month-11(2015),Month-10(2015),Month-9(2015),Month-8(2015),Month-7(2015),Month-6(2015),Month-5(2015),Month-4(2015),Month-2(2015),Month-3(2015),Month-1(2015)
0,PETIT LARCENY,6922.0,6635.0,6973.0,7069.0,7667.0,7644.0,7421.0,7340.0,6775.0,4903.0,6223.0,5955.0
1,HARRASSMENT 2,5115.0,5116.0,5438.0,5651.0,5827.0,5841.0,5572.0,5623.0,4908.0,3920.0,4808.0,4312.0
2,ASSAULT 3 & RELATED OFFENSES,4238.0,4096.0,4300.0,4547.0,4990.0,4863.0,4577.0,4939.0,4176.0,3521.0,4207.0,3736.0
3,GRAND LARCENY,4112.0,3886.0,3972.0,3921.0,4131.0,4023.0,3655.0,3607.0,3444.0,2892.0,3293.0,3292.0
4,CRIMINAL MISCHIEF & RELATED OF,3561.0,3887.0,3919.0,3862.0,4279.0,4662.0,4391.0,4461.0,4766.0,3271.0,4179.0,3592.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,INTOXICATED/IMPAIRED DRIVING,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,1.0,0.0
62,FORTUNE TELLING,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
63,KIDNAPPING,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
64,OTHER TRAFFIC INFRACTION,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
65,UNDER THE INFLUENCE OF DRUGS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [170]:
df_final= ft.reduce(lambda left, right: pd.merge(left,right,on='Category',how='outer'),final_list)
df_final= df_final.fillna(0)

In [171]:
df_final

,Category,Month-12(2015),Month-11(2015),Month-10(2015),Month-9(2015),Month-8(2015),Month-7(2015),Month-6(2015),Month-5(2015),Month-4(2015),...,Month-10(2013),Month-9(2013),Month-8(2013),Month-7(2013),Month-6(2013),Month-5(2013),Month-4(2013),Month-2(2013),Month-3(2013),Month-1(2013)
0,PETIT LARCENY,6922.0,6635.0,6973.0,7069.0,7667.0,7644.0,7421.0,7340.0,6775.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HARRASSMENT 2,5115.0,5116.0,5438.0,5651.0,5827.0,5841.0,5572.0,5623.0,4908.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ASSAULT 3 & RELATED OFFENSES,4238.0,4096.0,4300.0,4547.0,4990.0,4863.0,4577.0,4939.0,4176.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,GRAND LARCENY,4112.0,3886.0,3972.0,3921.0,4131.0,4023.0,3655.0,3607.0,3444.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CRIMINAL MISCHIEF & RELATED OF,3561.0,3887.0,3919.0,3862.0,4279.0,4662.0,4391.0,4461.0,4766.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,KIDNAPPING,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,OTHER TRAFFIC INFRACTION,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,UNDER THE INFLUENCE OF DRUGS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66,"HOMICIDE-NEGLIGENT,UNCLASSIFIE",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,LOITERING FOR DRUG PURPOSES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [144]:
months[0]

12

In [145]:
years[0]

2015

In [172]:
#adding row showing total crime in each month

crimeInMonth= np.arange((len(months)*len(years))+1)
count=0
for i in np.arange(len(years)):
    for j in np.arange(len(months)):
               #crimeInMonth[count+1]= np.sum(df_final['Month-12(2015)'])
                crimeInMonth[count+1]= np.sum(df_final['Month-'+str(months[j])+"("+str(years[i])+')'])
                count+=1
               # crimeInMonth[count+1]= np.sum(df_final['Month-'+str(months[j])+"("+str(years[i])+")"])
    

crimeMonth= pd.DataFrame([crimeInMonth],columns=df_final.columns)
crimeMonth['Category']='TOTAL'

df_final= pd.concat([df_final,crimeMonth],ignore_index=True)

In [173]:
df_final

,Category,Month-12(2015),Month-11(2015),Month-10(2015),Month-9(2015),Month-8(2015),Month-7(2015),Month-6(2015),Month-5(2015),Month-4(2015),...,Month-10(2013),Month-9(2013),Month-8(2013),Month-7(2013),Month-6(2013),Month-5(2013),Month-4(2013),Month-2(2013),Month-3(2013),Month-1(2013)
0,PETIT LARCENY,6922.0,6635.0,6973.0,7069.0,7667.0,7644.0,7421.0,7340.0,6775.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HARRASSMENT 2,5115.0,5116.0,5438.0,5651.0,5827.0,5841.0,5572.0,5623.0,4908.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ASSAULT 3 & RELATED OFFENSES,4238.0,4096.0,4300.0,4547.0,4990.0,4863.0,4577.0,4939.0,4176.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,GRAND LARCENY,4112.0,3886.0,3972.0,3921.0,4131.0,4023.0,3655.0,3607.0,3444.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CRIMINAL MISCHIEF & RELATED OF,3561.0,3887.0,3919.0,3862.0,4279.0,4662.0,4391.0,4461.0,4766.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,OTHER TRAFFIC INFRACTION,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,UNDER THE INFLUENCE OF DRUGS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66,"HOMICIDE-NEGLIGENT,UNCLASSIFIE",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,LOITERING FOR DRUG PURPOSES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,TOTAL,38985.0,38961.0,41139.0,41828.0,44967.0,44260.0,41525.0,42171.0,39723.0,...,22.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [175]:
df_final.to_csv("check1.csv")